/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  box-sizing: border-box;
}

 body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   font-size: 14px;
 }

 .round-button {
     display:block;
     width:50px;
     height:50px;
     line-height:50px;
     border: 1px solid #fff;
     border-radius: 50%;
     text-align:center;
     text-decoration:none;
     background: #464646;
     font-size:20px;
     font-weight:bold;
 }

 .round-button:after {
     opacity: 0.5;
 }

 .line-input {
    margin:20px;
    padding:5px;
}

 #map-container {
   float: right;
   position: relative;
   overflow: auto;
   margin-top: 0px;
   margin-right: 0px;
   /*margin-left: 40%;*/
 }

 #info-container {
   margin-top: 20px;
   height: 300px;
   margin-bottom: 8px;
   height: 300px;
   width: auto;
   background: #ff99c2;
   background: #E3E5E5;
   border: 1px solid black;
   margin-left: 50px;
   overflow: auto;
 }

 #line-input-container section {
   margin-top: 10%;
  }

 #line-input-container {
  height: auto;
  background: #E3E5E5;
  margin-top: 20px;
  padding-left: 5px;
  width: auto;
  border: 1px solid black;
  margin-left: 50px;
  overflow: scroll;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

 #wrapper {
   width: 100%;
   overflow: hidden;
 }

 .left-content {
   margin-right: 10px;
   overflow: hidden;
   width: 30%;
   float: left;
 }

  #header-css {
   background: #fff;
   margin-left: 50px;
   margin-top: 12px;
   padding-left: 10px;
   height: auto;
   width: 25%;
}

  #key-container {
   margin-top: 20px;
   height: 130px;
   width: auto;
   background: #E3E5E5;
   border: 1px solid black;
   padding-left: 5px;
   margin-left: 50px;
   overflow: scroll;
 }
