<!DOCTYPE html>
<html>
  <head>
    <title>WtfMta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN1IggXefhhur_pk-zNq_s2U9_LEn0z30"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav id="header-css">
      <h1>MTA-WTF</h1>
      <img src = "Rails.root.join('public', 'train.jpeg')" alt="Pic" style="width:200px;height:80px;">
    </nav>
    <%= yield %>
  </body>
</html>
