<!DOCTYPE html>
<html>
  <head>
    <title>WtfMta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN1IggXefhhur_pk-zNq_s2U9_LEn0z30"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
